* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #f5f6f7;
  }

.header {
    background-color: #0a0a23;
    color: #fff;
    text-align: center;
    padding: 32px;
    border-bottom: 4px solid #fdb347;
}

.header h1 {
    margin-bottom: 2px;
    text-transform: capitalize;
    font-weight: 800;
    letter-spacing: 0.1rem;
    line-height: 2.0rem;
    font-size: 2.2rem;
}

.header p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header p #date{
    font-size: 0.9rem;
}

.header p #by {
    font-weight: 800;
    font-size: 1.4rem;
    margin-left: 5px;
    text-transform: uppercase;
}

.header p #author{
    /* font-style: italic; */
    font-family: cursive;
    margin-left: 5px;
}

.header p img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 5px;
    transform: scaleX(-1);
}

.header p img:hover {
    transform: scaleX(-1);
    transform: scale(2);
    cursor: pointer;
}

.container {
    border: 10px solid black;
    max-width: 340px;
    height: 400px;
    margin: 15px auto;
    position: relative;
    background-color: #ffffff;
}

.top-div {
    height: 75px;
    width: 100%;
    background-color: red;
    margin-bottom: 5px;
}

.middle-div {
    height: 210px;
    width: 100%;
    background-color: #ffffff;
    position: relative;
}

.middle-div div {
    width: 100%;
    max-width: 120px;
    height: 90px;
}

.middle-div div:nth-child(1){
    background-color: green;
    position: absolute;
    top: 10px;
    left: 30px;
}

.middle-div div:nth-child(2){
    background-color: green;
    position: absolute;
    top: 10px;
    right: 30px;
}

.middle-div div:nth-child(3){
    background-color: yellow;
    position: absolute;
    bottom: 0;
    left: 30px;
}

.middle-div div:nth-child(4){
    background-color: yellow;
    position: absolute;
    bottom: 0;
    right: 30px;
}


.bottom-div {
    height: 75px;
    width: 100%;
    background-color: blue;
    position: absolute;
    bottom: 0;
    margin-top: 5px;
}